.App {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url(../src/img/AfternoonDota.jpg); */
  min-height: 100vh;
  /* vh = view port height
  vw = view port width */
}
@media (max-width: 800px) {
  .App {
    background-image: url(../src/img/smaller\ than\ 800px.jpg);
    font-size: smaller;
  }
}
.clok_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.clock {
  font-size: 40px;
  color: aliceblue;
}
.greetings {
  color: white;
}
.ampm {
  font-size: 20px;
  color: white;
}
